@model IEnumerable<Models.Order>

@{
    ViewData["Title"] = "OrderHistory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Order History</h1>
<a>
    @Html.ActionLink("Most Recent", "OrderHistory", new { sortOrder = "NewToOld"  })
</a>
<a>
    @Html.ActionLink("Oldest", "OrderHistory", new { sortOrder = "OldToNew" })
</a>
<a>
    @Html.ActionLink("Most Expensive", "OrderHistory", new { sortOrder = "HighToLow" })
</a>
<a>
    @Html.ActionLink("Cheapest", "OrderHistory", new { sortOrder = "LowToHigh" })
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimePlaced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimePlaced)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.ActionLink("View Order", "ViewItems", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
