@model IEnumerable<Models.OrderItem>

@{
    ViewData["Title"] = "ViewItems";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>View Items</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brew.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brew.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brew.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brew.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
}
    </tbody>
</table>
